# Web Framework
fastapi==0.110.0
uvicorn==0.27.1
python-multipart==0.0.9

# Computer Vision & Image Processing
opencv-contrib-python==4.9.0.80
numpy==1.26.4
Pillow==10.2.0

# Deep Learning (AI)
torch==2.2.1
torchvision==0.17.1